<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->

      <div class="col-xl-4 col-sm-6">
        <a href="<%= clients_path %>" class="">

          <div class="item d-flex align-items-center">
            <div class="icon bg-violet">
              <i class="icon-user"></i>
            </div>
            <div class="title">
              <span>Clients</span>
              <div class="progress">
                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
            <div class="number">
              <strong><%= Client.count %></strong>
            </div>
          </div>

        </a>
      </div>

      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <a href="<%= reports_path %>" class="Item">
          <div class="item d-flex align-items-center">
            <div class="icon bg-red">
              <i class="icon-padnote"></i>
            </div>
            <div class="title">
              <span>Reports</span>
              <div class="progress">
                <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
              </div>
            </div>
            <div class="number">
              <strong><%= Report.count %></strong>
            </div>
          </div>
        </a>
      </div>
      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <a href="<%= invoices_path %>" class="Item">
          <div class="item d-flex align-items-center">
            <div class="icon bg-green">
              <i class="icon-bill"></i>
            </div>
            <div class="title">
              <span>Invoices</span>
              <div class="progress">
                <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
              </div>
            </div>
            <div class="number">
              <strong><%= Invoice.count %></strong>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Dashboard Header Section    -->
<section class="dashboard-header">
  <div class="container-fluid">
    <div class="row"></div>
  </div>
</section>
