<section class="<%= controller_name.titleize %>">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">Invoice:</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <td>
                  <strong>Date</strong>
                </td>
                <td><%= @invoice.date %></td>
              </tr>
              <tr>
                <td>
                  <strong>Client</strong>
                </td>
                <td><%= @invoice.client.full_name %></td>
              </tr>
              <tr>
                <td>
                  <strong>Amount</strong>
                </td>
                <td><%= @invoice.amount %></td>
              </tr>
              <tr>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Delete', @invoice, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
                  </div>
                </td>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">Reports</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>
                  <strong>Descritpion</strong>
                </th>
                <th><strong>Client</strong></th>
              </tr>
              </thead>
              <tbody>
              <% @invoice.reports.each do |report| %>
                <tr>
                  <td><%= report.description %></td>
                  <td><%= report.hours %></td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col offset-sm-0,5">
    <div class="btn-group">
      <%= link_to 'Back ', invoices_path, class: "btn btn-secondary" %>
      <%= link_to 'Edit ', edit_invoice_path, class: "btn btn-primary" %>
      <%= link_to 'PDF', invoice_path(@invoice.id, format:'pdf'), class: "btn btn-secondary" %>
    </div>
  </div>
</section>
