<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body ">

        <%= simple_form_for(@report) do |f| %>
            <% if report.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from
                    being
                    saved:</h2>

                  <ul>
                    <% report.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <%= f.association :client, required: true %>
            <%= f.input :hours, required: true %>
            <%= f.input :description %>
            <%= f.button :submit_cancel, 'Save', cancel: :back %>
        <% end %>
      </div>
    </div>
  </div>
</div>