<section class="<%= controller_name.titleize %>">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <strong>Client</strong>
                  </td>
                  <td><%=@report.client.fullname%></td>
                </tr>
                <tr>
                  <td>
                    <strong>Description</strong>
                  </td>
                  <td><%=@report.description%></td>
                </tr>
                <tr>
                  <td>
                    <strong>Client_ID<strong></td>
                      <td><%=@report.client_id%></td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Invoice<strong></td>
                          <td><%=@report.invoice_id%></td>
                        </tr>
                      </thead>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col offset-sm-0,5">
          <h3 class="h4"><%= link_to 'Edit ', edit_report_path, class: "btn btn-primary" %></h3>
          <h3 class="h4"><%= link_to 'Back ', reports_path, class: "btn btn-primary" %></h3>
        </div>
      </section>
