<section class="<%= controller_name.titleize %>">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <td>
                  <strong>Client</strong>
                </td>
                <td><%= @report.client.full_name %></td>
              </tr>
              <tr>
                <td>
                  <strong>Description</strong>
                </td>
                <td><%= @report.description %></td>
              </tr>
              <tr>
                <td>
                  <strong>Client_ID</strong></td>
                <td><%= @report.client_id %></td>
              </tr>
              <tr>
                <td>
                  <strong>Invoice</strong></td>
                <td><%= @report.invoice_id %></td>
              </tr>
              <tr>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Delete', @report, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
                  </div>
                </td>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col offset-sm-0,5">
    <div class="btn-group">
      <%= link_to 'Back ', reports_path, class: "btn btn-secondary" %>
      <%= link_to 'Edit ', edit_report_path, class: "btn btn-primary" %>
    </div>
  </div>
</section>
